platform: linux

inputs:
- name: korifi-ci
- name: korifi

params:
  GCP_SERVICE_ACCOUNT_JSON: ((gcp-serviceaccount))
  GCP_ZONE:
  CLUSTER_NAME:
  REGISTRY_HOSTNAME:
  REGISTRY_USER:
  REGISTRY_PASSWORD:
run:
  path: korifi-ci/pipelines/scripts/publish-dev-images.sh
