platform: linux

inputs:
- name: korifi-ci
- name: cf-k8s-secrets

outputs:
  - name: clusters

params:
  TERRAFORM_SERVICE_ACCOUNT_JSON: ((gcp-serviceaccount))
  AWS_REGION: eu-west-1
  AWS_ACCESS_KEY_ID: ((aws/terraform.access-key-id))
  AWS_SECRET_ACCESS_KEY: ((aws/terraform.secret-access-key))
  GCP_PROJECT_ID: cf-on-k8s-wg
  GCP_ZONE: europe-north1-a
  GCP_SERVICE_ACCOUNT_JSON: ((gcp-pr-e2e-k8s-admin))
  CLUSTER_NAME:
  CLUSTER_TYPE:
  KPACK_REPO_LOCATION:
  KPACK_REPO_NAME:
  NODE_MACHINE_TYPE:
  CSR_SIGNING_DISALLOWED:

run:
  path: korifi-ci/pipelines/scripts/set-cluster-env-vars.sh
